<section id="leader">
	<nav class="home" role="navigation">
		<a href="/">Home</a>
	</nav>

	<div class="introduction">
		<%= include _partials/_svg-colour.ejs %>
		
		<h2>Bio</h2>
		<div class="content-internal" >
			<%- partial("content/about_classic") %>
		</div>

	</div>
	<div class="photo-of-matt">
		<a href="/about"><img src="images/Matt-Jiggins.jpg" class="img-fit img-circle" alt="Matt Jiggins"></a>
	</div>
</section>

