// RESPONSIVE HELPERS

@mixin respond-to($media) {
    @if $media == xs {
        @media (max-width: 480px) { @content; }
    }
    @else if $media == vs {
        @media (min-width: 500px) {@content; }
    }
    @else if $media == sm {
        @media (min-width: 767px) {@content; }
    }
    @else if $media == md {
        @media (min-width: 992px) { @content; }
    }
    @else if $media == lg {
        @media (min-width: 1200px) { @content; }
    }
    @else if $media == vl {
        @media (min-width: 1400px) { @content; }
    }
    // Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}

@mixin small-font($size) {
  font-size: golden-ratio($size, -1);
  font-weight: 400;
  line-height: 1;
}