#showcase-smaller {
  @import "cards";
  
  $bp-showcase--lg: new-breakpoint(min-width 900px 12);

  background: white;

  @include outer-container;
  padding: 15px 20px;

  @include media($bp-showcase--lg) {
    padding: 30px 10px 50px 10px;
  }
  
  h2 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include media($bp-showcase--lg) {
      margin-bottom: 50px
    }
  } 
}